<section class="bg-[#13151a] w-full grid grid-cols-9 pb-5">
    <div class=" gap-y-8 row-start-2 col-start-3 col-end-8 gap-5">
        <h2 class=" text-4xl my-4 font-bold">Experiencia</h2>
        <p>
            Además de los proyectos que he desarrollado en 2023 estuve de prácticas en una empresa donde trabajé
            en el desarrollo de varios CRM para diferentes empresas.
        </p>
    </div>
</section>
