<section class="bg-[#13151a] w-full grid grid-cols-9 pb-5">
    <!-- Título en la columna central -->
    <h2 class="text-2xl font-bold self-center col-start-3 row-start-1 py-4">Proyectos</h1>

    <!-- Contenedor para los proyectos en la columna del medio -->
    <div class="grid grid-cols-3 gap-y-8 row-start-2 col-start-3 col-end-8 gap-5">
        <!-- Primer Proyecto -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>
        <!-- Segundo Proyecto -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>

        <!-- Tercer Proyecto -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>

        <!-- Cuarto Proyecto (en la siguiente fila) -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>

        <!-- Quinto Proyecto (en la siguiente fila) -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>
        <!-- Sexto Proyecto (en la siguiente fila) -->
        <div class="bg-[#1e293b] rounded-lg p-5">
            <img class="rounded-[25px] w-fit h-40" src="https://placehold.co/600x400" alt="" />
            <h3 class="font-bold">Example</h3>
            <p class="font-bold text-gray-500">lorem ipsun dolor sit amet</p>
            <div>
                <!-- iconos de tecnologías usadas -->
            </div>
            <button class="bg-orange-500 w-full rounded-3xl text-[#13151a] font-bold p-2 flex items-center justify-center gap-2">
                <img src="/github.svg" width="25" height="25" alt="GitHub Icon">
                <span>Ver Codigo</span>
            </button>
        </div>
    </div>
</section>
